.keyboard {
  &-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &--row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2px;
  }

  &--cell {
    border-radius: 4px;
    margin: 3px;
    width: 2.7rem;
    height: 3.6rem;
    font-size: 11pt;
    font-weight: bold;
    background-color: gray;
    cursor: pointer;
    text-align: center;
    color: white;
    border: none;

    &-special {
      width: 4rem;
    }

    &.absent {
      background-color: #3a3a3c;
    }
  
    &.present {
      background-color: #b59f3b;
    }
  
    &.correct {
      background-color: #538d4e;
    }
  }
}